table
{
    /* #2196F3, rgb(20, 110, 170), #2563eb*/

    background-color:#2563eb;
    /* ; */
    /* rgb()/(light)blue/#ffffff */
    border-style:solid;
    /* none, dotted, dashed, solid, double, groove, ridge, inset, outset */
    border-color:rgb(0, 0, 0);
    /* rgb()/(light)blue/#ffffff */
    border-width:5px;
    /* thin, medium, thick/px/cm */
    opacity:0.8;
    /* 0-1 */
    font-family:arial, Georgia, Sans-serif, Monospace;
    /* specified:courier, times, arial
    Generic-family:Serif, Sans-serif, Monospace, fantasy, Georgia, Times New Roman */
    font-size:180%;
    /* 150% */
    font-style:italic;
    /* normal, italic, oblique */

    /* font-variant:small-caps; */
    /* normal, small-caps */

    /* font-weight:100; */
    /* normal(400), bold(700), bolder, lighter/100-900 */

    /* from AI technique */
    border-collapse:collapse;
    /* collapse, separate */
    margin:40px, auto;
    /* auto/0px, 0cm */
    width:100%;
    /* auto/px, cm/% */

    /* color:#333; */
    caption-side: top !important;
}

table th
{
    background-color:rgb(20, 110, 170);
    color:white;
    /* font-weight:normal; */
    /* font-size:16px; */
    /* padding:60px, 60px; */
    border:1px, solid, #ddd;
    text-align:center;
}

table td
{
    /* padding:10px, 16px; */
    text-align:center;
    border:1px, solid, #ddd;
    line-height:2;
    /* normal/1.6/px, cm/% */
}

table tr:nth-child(even)
{
    background-color:#be3652;
}

table tr:hover
{
    background-color:#e0f2fe;
    cursor:default;
}

table caption
{
    text-align:center;
    font-size:250%;
    font-style:normal;
}

h1
{
    background-color:#2196F3;
    text-align:center;
    font-weight:normal;
    font-size:450%;
    font-family:"Microsoft Yahei", 微软雅黑, "Times New Roman", Sans-serif, arial, ;
    font-style:normal;
    /* color:#ff0000; */
}

h2
{
    text-align:center;
    font-size:300%;
    font-weight:normal;
}

.bg
{
    background-color:#2196F3;
}

form
{
    text-align:center;
}

input
{
    width:30%;
    height:50px;
    font-size:130%;
}

button
{
    width:10%;
    height:10%;
    font-size:140%;
}

/*  */
nav .navbar-brand
{
    font-size: xx-large;
}
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
